head {
  position: fixed;
  color: color(rec2020 1 2 3[ / none])
  text-decoration: underline;
  text-align: center;
  min-width: 10%;
  max-width: 100%;
}

head:active {
  color: red;
}

body {
  position: sticky;
  height: 20px;
  background-color: lightblue;
} 

h1 {
  color: rgb(135, 206, 250);
  display: inline;
  margin-top: 5%;
  padding-top: 10%;
}

h1:hover {
  color: red;
}

div {
  color: hsl(100, 100, 100);
  display: block;
  width: 300px;
  border: 15px solid green;
  padding: <left>;
  margin: <left>;
}
/*end*/
/*
box
border
lyout
response
font
*/
